
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.background{
    background-image: url(../image/Background\ technologique\ des\ circuits\ imprimés\ _\ Vecteur\ Premium.jpg);

}

.navbar {
    width: 100%; /* ou 100% */
    left: 0;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
}

.nav-links li {
    flex: 1;
    text-align: center;
}

.nav-links a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #555;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0%;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    z-index: 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}


/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links li {
        text-align: left;
        padding-left: 20px;
    }
}
